:root {
  --color-bg: #2d2c2c;
  --color-text: #ffffff;
  --color-accent: #00c853; /* verde brillante */
  --color-accent-light: #80ff9e; /* celeste-verde claro */
  --color-secondary: #00b0ff; /* celeste puro */
  --color-border: rgba(255,255,255,0.2);
}


body {
  background-color: var(--color-bg);
  animation: bg-cycle 20s linear infinite;
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--color-accent);
}

/* Custom navbar gradient: black -> green -> light blue */
.navbar-custom {
  background: linear-gradient(90deg, #000000, var(--color-accent), var(--color-secondary));
}

.photo-carousel .slick-slide {
  opacity: 0.5;
}
.photo-carousel .slick-center {
  opacity: 1;
}

@keyframes bg-cycle {
  0% {
    background-color: var(--color-bg);
  }
  25% {
    background-color: var(--color-accent);
  }
  50% {
    background-color: var(--color-accent-light);
  }
  75% {
    background-color: var(--color-secondary);
  }
  100% {
    background-color: var(--color-bg);
  }
}
