:root {

  --color-bg: #000000;
  --color-text: #000;

  --color-bg: #ffffff;

  --color-bg: #f2f2f2;

  --color-text: #000000;

  --color-accent: #00c853; /* verde brillante */
  --color-accent-light: #80ff9e; /* celeste-verde claro */
  --color-secondary: #00b0ff; /* celeste puro */
  --color-border: rgba(255,255,255,0.2);
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

#wave-container {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 25vh;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
  opacity: 0.3;
  animation: wave-fade 6s ease-in-out infinite;
  overflow: hidden;
}

#wave-container svg {
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave-move 10s linear infinite;
}

@keyframes wave-move {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes wave-fade {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
a {
  color: var(--color-accent);
}

/* Custom navbar gradient: black -> green -> light blue */
.navbar-custom {

  background: #171212 ;

  background: linear-gradient(90deg, var(--color-bg), var(--color-accent), var(--color-secondary));
}

.photo-carousel .slick-slide {
  opacity: 0.5;
}
.photo-carousel .slick-center {
  opacity: 1;
}

@keyframes bg-cycle {
  0% {
    background-color: var(--color-bg);
  }
  25% {
    background-color: var(--color-accent);
  }
  50% {
    background-color: var(--color-accent-light);
  }
  75% {
    background-color: var(--color-secondary);
  }
  100% {
    background-color: var(--color-bg);
  }
}


.Logo{
  height: 6rem;
  border-radius: 50%;
}

/* Forms and cards with footer gray background at 50% opacity */
form,
.card {
  background-color: rgba(33, 37, 41, 0.5) !important;
}



