:root {
  --color-bg: #2d2c2c  ;
  --color-text: #fff;
  --color-accent: #00c853; /* verde brillante */
  --color-accent-light: #80ff9e; /* celeste-verde claro */
  --color-secondary: #00b0ff; /* celeste puro */
  --color-border: rgba(255,255,255,0.2);
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--color-accent);
}

/* Custom navbar gradient: black -> green -> light blue */
.navbar-custom {
  background: #171212 ;
}

.photo-carousel .slick-slide {
  opacity: 0.5;
}
.photo-carousel .slick-center {
  opacity: 1;
}

.Logo{
  height: 6rem;
  border-radius: 50%;
}